<block-ui>
  <div class="content-wrapper container-xxxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <section class="app-user-view" *ngIf="data">

        <!-- First Row -->
        <div class="row">
          <!-- Left Part -->
          <div class="col-12 col-lg-4 my-2">
            <div class="card border bg-holder bg-white h-100" style="border-radius: 25px;">

              <!-- Avatar Image -->
              <div class="text-center">
                <img style="border: 15px solid #f8f8f8; position: relative; top: -40px;"
                  class="img-fluid rounded-circle" width="140px" height="140px"
                  src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?w=826&t=st=1717754272~exp=1717754872~hmac=ffd17eaf517483c27b9738195a0a953913dfcb257e916231ee95648d937bf11b"
                  alt="">
              </div>

              <div class="mb-3">
                <!-- Name -->
                <div class="text-primary text-center" style="font-size: clamp(20px, 2vw, 24px);">
                  {{ data.name.firstName}}&nbsp;{{data.name.lastName}}
                </div>

                <!-- Email and Address -->
                <div class="p-1 text-center" style="font-weight: 350;">
                  <div style="padding-top: 6px;">{{data.email}}</div>
                  <div class="" style="padding-top: 4px;">
                    {{ data.address.addressLine1 }},
                    {{ data.address.addressLine2 }},
                    {{ data.address.landmark }}
                    <br />
                    {{ data.address.city }}, {{ data.address.state }} -
                    {{ data.address.zipCode }}
                  </div>
                </div>

                <hr />
                <!-- <div class="text-center text-secondary pt-2" style="font-size: 20px;">Profile Controls</div> -->
                <!-- Buttons -->
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="p-1">
                    <div class="d-flex flex-wrap">
                      <ng-container *ngIf="data.userEnabled; else enable">
                        <button class="btn btn-outline-danger" #disable rippleEffect (click)="onCancelClick()">
                          Disable
                        </button>
                      </ng-container>
                      <ng-template #enable><button class="btn btn-primary" rippleEffect (click)="onCancelClick()">
                          Enable
                        </button>
                      </ng-template>
                    </div>
                  </div>
                  <div class=" p-1">
                    <div class="user-info-title">
                      <ng-select class="ng-select-size-lg" [items]="roles" [(ngModel)]="selectedRole" bindLabel="name"
                        (change)="keyBlur()">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Middle Part -->
          <div class="col-12 col-lg-4 my-2">
            <div class="card border bg-white p-lg-2 p-1 h-100" style="border-radius: 25px;">
              <div class="heading-uplifted">Personal Details</div>
              <div class="table-responsive">
                <table align="center" [width]="['100%']" [cellPadding]="10" [cellSpacing]="10">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <i data-feather="user" class="mr-1 text-primary"></i>
                          <span style="font-size: 16px; font-weight: 300;" class="mb-0">Username</span>
                        </div>
                      </td>
                      <td>:</td>
                      <td>
                        <p style="font-size: 16px; font-weight: 300;" class="mb-0">{{ data.userName }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <i data-feather="mail" class="mr-1 text-primary"></i>
                          <span style="font-size: 16px; font-weight: 300;" class="mb-0">Email</span>
                        </div>
                      </td>
                      <td>:</td>
                      <td>
                        <p style="font-size: 16px; font-weight: 300;" class=" mb-0">{{ data.email }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <i data-feather="check" class="mr-1 text-primary"></i>
                          <span style="font-size: 16px; font-weight: 300;" class="mb-0">Gender</span>
                        </div>
                      </td>
                      <td>:</td>
                      <td>
                        <p style="font-size: 16px; font-weight: 300;" class=" mb-0">{{ data.gender }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <i data-feather="star" class="mr-1 text-primary"></i>
                          <span style="font-size: 16px; font-weight: 300;" class="mb-0">Role</span>
                        </div>
                      </td>
                      <td>:</td>
                      <td>
                        <p style="font-size: 16px; font-weight: 300;" class=" mb-0">{{ data.permission }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <i data-feather="phone" class="mr-1 text-primary"></i>
                          <span style="font-size: 16px; font-weight: 300;" class="mb-0">Mobile</span>
                        </div>
                      </td>
                      <td>:</td>
                      <td>
                        <p style="font-size: 16px; font-weight: 300;" class=" mb-0">{{ data.contactNumber }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <i data-feather="gift" class="mr-1 text-primary"></i>
                          <span style="font-size: 16px; font-weight: 300;" class="mb-0">D.O.B</span>
                        </div>
                      </td>
                      <td>:</td>
                      <td>
                        <p style="font-size: 16px; font-weight: 300;" class=" mb-0">
                          {{data.dateOfBirth.day }}/{{data.dateOfBirth.month}}/{{ data.dateOfBirth.year }}
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <i data-feather="gift" class="mr-1 text-primary"></i>
                          <span style="font-size: 16px; font-weight: 300;" class="mb-0">Address</span>
                        </div>
                      </td>
                      <td>:</td>
                      <td>
                        <p style="font-size: 16px; font-weight: 300;" class=" mb-0">
                          {{ data.address.addressLine1 }},
                          {{ data.address.addressLine2 }},
                          {{ data.address.landmark }}
                          <br />
                          {{ data.address.city }}, {{ data.address.state }} -
                          {{ data.address.zipCode }}
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Right Part -->
          <div class="col-12 col-lg-4 my-2">
            <div class="card plan-card border bg-white p-2 h-100" style="border-radius: 25px;">
              <div class="heading-uplifted">Account Info</div>
              <div class="pl-1">
                <ul class="list-unstyled">
                  <li>
                    <span class="align-middle" style="font-size: 16px;font-weight: 400;">
                      <div class="badge badge-light-primary" style="
                            font-size: 16px;
                            font-weight: 400;
                            padding: 8px;
                          ">
                        Activated Date:
                      </div>
                      {{ data.activatedDate }}
                    </span>
                  </li>
                  <li class="my-2">
                    <span class="align-middle" style="font-size: 16px;font-weight: 400;">
                      <div class="badge badge-light-primary" style="
                            font-size: 16px;
                            font-weight: 400;
                            padding: 8px;
                          ">
                        Activated By:
                      </div>
                      {{ data.activatedBy }}
                    </span>
                  </li>
                  <li class="my-2">
                    <span class="align-middle" style="font-size: 16px;font-weight: 400;">
                      <div class="badge badge-light-danger" style="
                            font-size: 16px;
                            font-weight: 400;
                            padding: 8px;
                          ">
                        Deactivation Date:
                      </div>
                      {{ data.deactivateDate }}
                    </span>
                  </li>
                  <li class="my-2">
                    <span class="align-middle" style="font-size: 16px;font-weight: 400;">
                      <div class="badge badge-light-danger" style="
                            font-size: 16px;
                            font-weight: 400;
                            padding: 8px;
                          ">
                        Deactivated By:
                      </div>
                      {{ data.deactivatedBy }}
                    </span>
                  </li>
                  <li class="my-2">
                    <span class="align-middle" style="font-size: 16px;font-weight: 400;">
                      <div class="badge badge-light-warning" style="
                            font-size: 16px;
                            font-weight: 400;
                            padding: 8px;
                          ">
                        Account Status:
                      </div>
                      {{ data.userEnabled ? "Active" : "Disabled" }}
                    </span>
                  </li>
                  <li class="my-2">
                    <span class="align-middle" style="font-size: 16px;font-weight: 400;">
                      <div class="badge badge-light-warning" style="
                            font-size: 16px;
                            font-weight: 400;
                            padding: 8px;
                          ">
                        Permission:
                      </div>
                      {{ data.permission.toUpperCase() }}
                    </span>
                  </li>
                </ul>
                <!-- <button class="btn btn-primary text-center btn-block" rippleEffect>Upgrade Plan</button> -->
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-1">
          <div class="col-md-6">
            <div class="card p-2" style="border-radius: 25px;">
                <h4 class="heading-uplifted">User Timeline</h4>
              <div class="card-body">
                <ul class="timeline">
                  <li class="timeline-item">
                    <span class="timeline-point timeline-point-indicator"></span>
                    <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                        <h6>12 Invoices have been paid</h6>
                        <span class="timeline-event-time">12 min ago</span>
                      </div>
                      <p>Invoices have been paid to the company.</p>
                      <div class="media align-items-center">
                        <!-- <img style="margin class="mr-1 text-primary" src="assets/images/icons/file-icons/pdf.png" alt="invoice" height="23" /> -->
                        <div class="media-body">invoice.pdf</div>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-item">
                    <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                    <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                        <h6>Client Meeting</h6>
                        <span class="timeline-event-time">45 min ago</span>
                      </div>
                      <p>Project meeting with john @10:15am.</p>
                      <div class="media align-items-center">
                        <div class="avatar">
                          <img src="assets/images/avatars/12-small.png" alt="avatar" height="38" width="38" />
                        </div>
                        <div class="media-body ml-50">
                          <h6 class="mb-0">John Doe (Client)</h6>
                          <span>CEO of Infibeam</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-item">
                    <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                    <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                        <h6>Create a new project for client</h6>
                        <span class="timeline-event-time">2 days ago</span>
                      </div>
                      <p class="mb-0">Add files to new design folder</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Permissions</h4>
              </div>
              <p class="card-text ml-2">Permission according to roles</p>
              <div class="table-responsive">
                <table class="table table-striped table-borderless" *ngIf="roles">
                  <thead class="thead-light">
                    <tr>
                      <th>Roles</th>
                      <th>Allocated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let role of roles">
                      <td>{{ role }}</td>
                      <td>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" [checked]="data.permission[role]"
                            [disable]="data.permission[role]" />
                          <label class="custom-control-label" for="admin-read"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
      </section>
    </div>
  </div>
</block-ui>