<div style="border-radius: 10px;" class="h-100">
  
  <!-- Heading -->
  <!-- <div style="font-size: clamp(16px, 2vw, 24px)" class="p-2 text-primary ">Statistics</div> -->

  <!-- Stats Chart Holder -->
  <div class="container-fluid">
    <div class="row p-1">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mt-1 mt-sm-0">
        <!-- Total Users -->
        <app-total-users-pie></app-total-users-pie>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mt-1 mt-sm-0">
        <app-total-storage-pie></app-total-storage-pie>
        <!-- <app-total-storage-pie></app-total-storage-pie> -->
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mt-1 mt-sm-0">
        <app-total-container-pie></app-total-container-pie>
        <!-- <app-total-container-pie></app-total-container-pie> -->
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mt-1 mt-sm-0 ">
        <app-total-users-pie></app-total-users-pie>
        <!-- <app-total-users-pie></app-total-users-pie> -->
      </div>
      <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 mt-1 mt-sm-0 "> -->
        <!-- <app-total-users-pie></app-total-users-pie> -->
        <!-- <app-total-container-pie></app-total-container-pie> -->
      <!-- </div> -->
    </div>
  </div>
</div>