a{
    text-decoration: underline;
    color:#01386a
  }
  
  /* mouse over link */
  a:hover {
    color: green;
    text-decoration: underline;
  }
//   .font-weight-bold {
//     font-size: medium;
// }
.class-project{
  background: teal
}
