<div class="content-wrapper p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row" id="basic-table">
      <div class="col-12">
        <div class="card">
          <div class="card-header class-project text-white">
            <h2 style="font-size: 30px" class="text-white">Project List</h2>
            <div class="btn-group">
              <a
                routerLink="/submit/niot-project-form"
                class="btn btn-outline-danger text-white"
                role="button"
                aria-pressed="true"
                >Add New Project</a
              >
            </div>
          </div>

          <div class="table table-striped">
            <table class="table">
              <thead style="color: rgb(76, 124, 170)">
                <tr>
                  <th class="font-weight-bold">Project Id</th>
                  <th class="font-weight-bold">Project</th>
                  <th class="font-weight-bold">Organization</th>
                  <th class="font-weight-bold">Type</th>
                  <th class="font-weight-bold">Location</th>
                  <!-- <th>Start Date - End Date</th> -->
                  <!-- <th>Status</th> -->
                  <!-- <th class="font-weight-bold">Actions</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projectdetails">
                  <td>
                    <a
                      class="underline"
                      (click)="navigateToComponent(project.projectId)"
                    >
                      <span class="font-weight-bold">{{
                        project.projectCode
                      }}</span>
                    </a>
                  </td>
                  <td>
                    <a
                      class="underline"
                      (click)="navigateToComponent(project.projectId)"
                    >
                      <span class="font-weight-bold">{{ project.name }}</span>
                    </a>
                  </td>
                  <td>
                    <span class="font-weight-bold">{{
                      project.organization
                    }}</span>
                  </td>
                  <td>
                    <span class="font-weight-bold">
                      {{ project.type }}
                    </span>
                  </td>
                  <!-- <td>
                    <span> {{ project.fromDate }} - {{ project.toDate }} </span>
                  </td> -->
                  <td>
                    <span class="font-weight-bold">
                      {{ project.location }}</span
                    >
                  </td>
                  <!-- <td>
                    <span class="badge badge-pill badge-light-primary mr-1">
                      {{ project.status }}
                    </span>
                  </td> -->
                  <!-- <td class="overflow-hidden"> -->
                    <!-- <div ngbDropdown container="body">
                      <button
                        type="button"
                        class="btn btn-sm hide-arrow"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                      >
                        <i data-feather="more-vertical"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a
                          ngbDropdownItem
                          (click)="editproject(project.projectId)"
                        >
                          <i data-feather="edit-2" class="mr-50"></i
                          ><span>Edit</span>
                        </a>
                        <a
                          ngbDropdownItem
                          (click)="navigateToComponent(project.projectId)"
                        >
                          <i data-feather="eye" class="mr-50"></i
                          ><span>View</span>
                        </a>
                        <a
                          ngbDropdownItem
                          (click)="deleteproject(project.projectId)"
                        >
                          <i data-feather="trash" class="mr-50"></i
                          ><span>Delete</span>
                        </a>
                      </div>
                    </div> -->

                    <!-- <div class="d-flex align-items-center col-actions">
                      <a
                        class="mr-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Preview Project"
                        style="color: navy"
                        (click)="navigateToComponent(project.projectId)"
                      >
                        <i size="18" data-feather="eye"></i>
                      </a>
                      <a
                        class="mr-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Edit Project"
                        style="color: orange"
                        (click)="editproject(project.projectId)"
                      >
                        <i size="18" data-feather="edit"></i>
                      </a>

                      <a
                        class="mr-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Delete Project"
                        style="color: red"
                        (click)="deleteproject(project.projectId)"
                      >
                        <i
                          data-feather="trash"
                          size="18"
                          class="cursor-pointer"
                        ></i>
                      </a>
                    </div> -->
                  <!-- </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/ Table Basic -->
  </div>
</div>
