.class-project{
    //background: rgb(202, 210, 210)
    background: teal;
}
.class-sample{
    // background: rgb(204, 14, 14)
    background:#800040;
}
.class-sequence{
    // background: rgb(14, 130, 14)
    background:#804000;
}
.heading{
    font-weight: 450;
    font-size: 35px
}