<div class="p-3 border h-100 bg-white">
  <div class="d-flex justify-content-between mb-3">
    <div class="text-primary mb-4" style="font-size: clamp(22px,2vw,26px);">Storage Quota</div>
    <div>
      <select name="numberOfUsers" [(ngModel)]="numberOfUsers" class="form-control" (change)="handleNumberOfUsers()" id="numberOfUsers">
        <option value="10" selected>Top 10</option>
        <option value="20">Top 20</option>
        <option value="30">Top 30</option>
      </select>
    </div>
  </div>
  <app-nightingale-pie-chart [data]="data" class="mt-4"></app-nightingale-pie-chart>
</div>