<block-ui>
  <div class="content-wrapper container-xxxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <form [formGroup]="userRegisterForm">
        <h2 class="mb-2">Registration</h2>

        <div class="row" id="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
              <label for="UDuserName">User Name *</label>
              <div
                class="input-group input-group-merge"
                [ngClass]="{
                  'is-invalid':
                    (form.userName.touched || submitted) && form.userName.errors
                }">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><span [data-feather]="'user'"></span
                  ></span>
                </div>
                <input
                  type="text"
                  id="UDuserName"
                  formControlName="userName"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (form.userName.touched || submitted) &&
                      form.userName.errors
                  }"
                  [(ngModel)]="userName"
                  (blur)="userNameValidation()" />
              </div>

              <div *ngIf="form.userName.errors" class="invalid-feedback">
                <div *ngIf="form.userName.errors?.userNameInvalid">
                  Username already exists. Select a different username.
                </div>
                <div *ngIf="form.userName.errors?.required">
                  Username is required
                </div>
                <div *ngIf="form.userName.errors?.minlength">
                  Username must be at least 2 characters
                </div>
                <div *ngIf="form.userName.errors?.maxlength">
                  Username exceeds limits
                </div>
                <div *ngIf="form.userName.errors?.pattern">
                  Invalid Username
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
              <label for="UDEmail">Email *</label>
              <div
                class="input-group input-group-merge"
                [ngClass]="{
                  'is-invalid':
                    (form.email.touched || submitted) && form.email.errors
                }">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><span [data-feather]="'mail'"></span
                  ></span>
                </div>
                <input
                  type="text"
                  id="UDEmail"
                  class="form-control"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid':
                      (form.email.touched || submitted) && form.email.errors
                  }"
                  [(ngModel)]="email"
                  (blur)="emailValidation()" />
              </div>
              <div *ngIf="form.email.errors" class="invalid-feedback">
                <div *ngIf="form.email.errors?.required">Email is required</div>
                <div *ngIf="form.email.errors?.emailInvalid">
                  Email is Taken
                </div>
                <div *ngIf="form.email.errors?.emailValidation">
                  Email must be a valid email address
                </div>
                <div *ngIf="form.email.errors?.minlength">Email too short</div>
                <div *ngIf="form.email.errors?.maxlength">
                  Email exceeds 225 characters
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
              <label for="UDPassword">Password</label>
              <div class="input-group input-group-merge"
                [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span [data-feather]="'lock'"></span></span>
                </div>
                <input type="password" id="UDPassword" formControlName="password"
                  [type]="basicPwdShow ? 'text' : 'password'" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                <div class="input-group-append" (click)="basicPwdShow = !basicPwdShow">
                  <span class="input-group-text cursor-pointer"><i class="feather" [ngClass]="{
                    'icon-eye-off': basicPwdShow,
                    'icon-eye': !basicPwdShow
                  }"></i></span>
                </div>
              </div>
              <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">Password is required</div>
                <div *ngIf="form.password.errors.minlength">Password must be at least 6 characters</div>
                <div *ngIf="form.password.errors.maxlength">Password exceeds 225 characters</div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
              <label for="UDConfPassword">Confirm Password</label>
              <div class="input-group input-group-merge"
                [ngClass]="{ 'is-invalid': submitted && form.confPassword.errors }">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span [data-feather]="'lock'"></span></span>
                </div>
                <input type="password" id="UDConfPassword" formControlName="confPassword"
                  [type]="basicPwdShow1 ? 'text' : 'password'" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && form.confPassword.errors }" />
                <div class="input-group-append" (click)="basicPwdShow1 = !basicPwdShow1">
                  <span class="input-group-text cursor-pointer"><i class="feather" [ngClass]="{
                    'icon-eye-off': basicPwdShow1,
                    'icon-eye': !basicPwdShow1
                  }"></i></span>
                </div>
              </div>
              <div *ngIf="submitted && form.confPassword.errors" class="invalid-feedback">
                <div *ngIf="form.confPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="form.confPassword.errors.minlength">Confirm Password must be at least 6 characters
                </div>

                <div *ngIf="form.confPassword.errors.mustMatch">Passwords Don't Match</div>
                <div *ngIf="form.confPassword.errors.maxlength">Confirm Password exceeds 225 characters</div>
              </div>
            </div>
          </div> -->

          <div class="col-lg-6 col-md-6 col-sm-6">
            <form formGroupName="name">
              <div class="form-group">
                <label for="UDFirstName">First Name *</label>
                <div
                  class="input-group input-group-merge"
                  [ngClass]="{
                    'is-invalid':
                      submitted && userRegisterForm.get('name.firstName').errors
                  }">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><span [data-feather]="'user'"></span
                    ></span>
                  </div>
                  <input
                    type="text"
                    id="UDFirstName"
                    formControlName="firstName"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        userRegisterForm.get('name.firstName').errors
                    }" />
                </div>
                <div
                  *ngIf="
                    submitted && userRegisterForm.get('name.firstName').errors
                  "
                  class="invalid-feedback">
                  <div
                    *ngIf="
                      userRegisterForm.get('name.firstName').errors.required
                    ">
                    Firstname is required
                  </div>
                  <div
                    *ngIf="
                      userRegisterForm.get('name.firstName').errors.minlength
                    ">
                    Firstname must be at least 2 characters
                  </div>
                  <div
                    *ngIf="
                      userRegisterForm.get('name.firstName').errors.maxlength
                    ">
                    First Name exceeds limits
                  </div>
                  <div
                    *ngIf="
                      userRegisterForm.get('name.firstName').errors?.pattern
                    ">
                    Invalid FirstName
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
            <form formGroupName="name">
              <div class="form-group">
                <label for="UDLastName">Last Name *</label>
                <div
                  class="input-group input-group-merge"
                  [ngClass]="{
                    'is-invalid':
                      submitted && userRegisterForm.get('name.lastName').errors
                  }">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><span [data-feather]="'user'"></span
                    ></span>
                  </div>
                  <input
                    type="text"
                    id="UDLastName"
                    formControlName="lastName"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        userRegisterForm.get('name.lastName').errors
                    }" />
                </div>
                <div
                  *ngIf="
                    submitted && userRegisterForm.get('name.lastName').errors
                  "
                  class="invalid-feedback">
                  <div
                    *ngIf="
                      userRegisterForm.get('name.lastName').errors.required
                    ">
                    Lastname is required
                  </div>
                  <div
                    *ngIf="
                      userRegisterForm.get('name.lastName').errors.minlength
                    ">
                    Lastname must be at least 2 characters
                  </div>
                  <div
                    *ngIf="
                      userRegisterForm.get('name.lastName').errors.maxlength
                    ">
                    Last Name exceeds limits
                  </div>
                  <div
                    *ngIf="
                      userRegisterForm.get('name.firstName').errors?.pattern
                    ">
                    Invalid Last Name
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
            <label for="UDDateOfBirth">Date of Birth *</label>
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  name="basicDP"
                  placeholder="dd/mm/yyyy"
                  [maxDate]="maxDate"
                  [minDate]="minDate"
                  [startDate]="startDate"
                  formControlName="dateOfBirth"
                  ngbDatepicker
                  #basicDP="ngbDatepicker"
                  [ngClass]="{
                    'is-invalid': submitted && form.dateOfBirth.errors
                  }" />
                <div class="input-group-append">
                  <button
                    class="btn btn-primary feather icon-calendar"
                    (click)="basicDP.toggle()"
                    type="button"
                    rippleEffect></button>
                </div>
              </div>
              <div
                *ngIf="submitted && form.dateOfBirth.errors"
                class="text text-danger">
                <small *ngIf="form.dateOfBirth.errors.response">
                  Date is Greater than current date
                </small>
                <small *ngIf="form.dateOfBirth.errors.required"
                  >Date of Birth is required</small
                >
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
              <label for="gender">Gender *</label>
              <div class="row">
                <div *ngFor="let gender of genderList" class="col-lg-3">
                  <div
                    class="custom-control custom-control-primary custom-radio gender">
                    <input
                      id="gender-{{ gender.id }}"
                      type="radio"
                      value="{{ gender.value }}"
                      name="{{ gender.name }}"
                      formControlName="{{ gender.name }}"
                      class="custom-control-input"
                      (change)="onRadioChange(gender)" />
                    <label
                      for="gender-{{ gender.id }}"
                      class="custom-control-label"
                      >{{ gender.label }}</label
                    >
                  </div>
                </div>
              </div>
              <div
                *ngIf="submitted && form.gender.errors"
                class="text text-danger">
                <small *ngIf="form.gender.errors.required"
                  >Gender is required.</small
                >
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
              <label for="UDContactNumber">Contact Number *</label>
              <div
                class="input-group input-group-merge"
                [ngClass]="{
                  'is-invalid': submitted && form.contactNumber.errors
                }">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><span [data-feather]="'phone'"></span
                  ></span>
                </div>
                <input
                  type="text"
                  id="UDContactNumber"
                  formControlName="contactNumber"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && form.contactNumber.errors
                  }"
                  [(ngModel)]="contactNumber"
                  (blur)="contactNumberValidation()" />
              </div>
              <div
                *ngIf="submitted && form.contactNumber.errors"
                class="invalid-feedback">
                <div *ngIf="form.contactNumber.errors.required">
                  Contact Number is required
                </div>
                <div *ngIf="form.contactNumber.errors.pattern">
                  Contact Number should be valid number
                </div>
                <div *ngIf="form.contactNumber.errors.minlength">
                  Contact Number should be 10 numbers
                </div>
                <div *ngIf="form.contactNumber.errors.maxlength">
                  Contact Number should be 10 numbers
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
              <label for="UDOrganization">Organization </label>
              <div
                class="input-group input-group-merge"
                [ngClass]="{
                  'is-invalid': submitted && form.organization.errors
                }">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><span [data-feather]="'map-pin'"></span
                  ></span>
                </div>
                <input
                  type="text"
                  id="UDOrganization"
                  formControlName="organization"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && form.organization.errors
                  }"
                  [(ngModel)]="organization" />
                <div
                  *ngIf="submitted && form.organization.errors"
                  class="invalid-feedback">
                  <div *ngIf="form.organization.errors.minlength">
                    Organization must be at least 2 characters
                  </div>
                  <div *ngIf="form.organization.errors.maxlength">
                    Organization exceeds limits
                  </div>
                </div>
              </div>
              <!-- <div
                *ngIf="submitted && form.organization.errors"
                class="invalid-feedback">
                <div *ngIf="form.organization.errors.required">
                  Organization Number is required
                </div>
                
              </div> -->
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <form formGroupName="address">
              <div class="form-group">
                <label for="UDAddress">Address</label>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="form-label" for="vertical-modern-address"
                    >Address Line1 *</label
                  >
                  <input
                    type="text"
                    id="addressLine1"
                    class="form-control"
                    formControlName="addressLine1"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        userRegisterForm.get('address.addressLine1').errors
                    }" />
                  <div
                    *ngIf="
                      submitted &&
                      userRegisterForm.get('address.addressLine1').errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        userRegisterForm.get('address.addressLine1').errors
                          .required
                      ">
                      Address is required
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.addressLine1').errors
                          .minlength
                      ">
                      Address must be at least 2 characters
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.addressLine1').errors
                          .maxlength
                      ">
                      Address exceeds limits
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label class="form-label" for="vertical-modern-address"
                    >Address Line 2</label
                  >
                  <input
                    type="text"
                    id="addressLine2"
                    class="form-control"
                    formControlName="addressLine2"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        userRegisterForm.get('address.addressLine2').errors
                    }" />
                  <div
                    *ngIf="
                      submitted &&
                      userRegisterForm.get('address.addressLine2').errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        userRegisterForm.get('address.addressLine2').errors
                          .minlength
                      ">
                      Address must be at least 2 characters
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.addressLine2').errors
                          .maxlength
                      ">
                      Address exceeds limits
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="form-label" for="vertical-modern-landmark">
                    Landmark
                  </label>
                  <input
                    type="text"
                    id="landmark"
                    class="form-control"
                    formControlName="landmark"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        userRegisterForm.get('address.landmark').errors
                    }" />
                  <div
                    *ngIf="
                      submitted &&
                      userRegisterForm.get('address.landmark').errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        userRegisterForm.get('address.landmark').errors
                          .minlength
                      ">
                      Landmark must be at least 2 characters
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.landmark').errors
                          .maxlength
                      ">
                      Landmark exceeds limits
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-label" for="city">City *</label>
                  <input
                    type="text"
                    id="city"
                    class="form-control"
                    formControlName="city"
                    [ngClass]="{
                      'is-invalid':
                        submitted && userRegisterForm.get('address.city').errors
                    }" />
                  <div
                    *ngIf="
                      submitted && userRegisterForm.get('address.city').errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        userRegisterForm.get('address.city').errors.required
                      ">
                      City is required
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.city').errors.minlength
                      ">
                      City must be at least 3 characters
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.city').errors.maxlength
                      ">
                      City Name exceeds limits
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label class="form-label" for="state">State *</label>
                  <ng-select
                    id="state"
                    formControlName="state"
                    required
                    [items]="States"
                    bindLabel="state"
                    bindValue="state"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        userRegisterForm.get('address.state').errors
                    }">
                  </ng-select>
                  <!-- <input type="text" id="state" items="States" class="form-control" formControlName="state"
                    /> -->
                  <div
                    *ngIf="
                      submitted && userRegisterForm.get('address.state').errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        userRegisterForm.get('address.state').errors.required
                      ">
                      State is required
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.state').errors.minlength
                      ">
                      State must be at least 3 characters
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.state').errors.maxlength
                      ">
                      State Name exceeds limits
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label class="form-label" for="zipcode">Pincode *</label>
                  <input
                    type="text"
                    id="zipCode"
                    class="form-control"
                    formControlName="zipCode"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        userRegisterForm.get('address.zipCode').errors
                    }" />
                  <div
                    *ngIf="
                      submitted &&
                      userRegisterForm.get('address.zipCode').errors
                    "
                    class="invalid-feedback">
                    <div
                      *ngIf="
                        userRegisterForm.get('address.zipCode').errors.required
                      ">
                      Pincode is required
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.zipCode').errors.minlength
                      ">
                      Pincode must be at least 4 numbers
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.zipCode').errors.maxlength
                      ">
                      Pincode exceeds 10 numbers
                    </div>
                    <div
                      *ngIf="
                        userRegisterForm.get('address.zipCode').errors.pattern
                      ">
                      In Valid Pincode
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 text-center"></div>
          <div class="form-group col-lg-4 text-center col-md-12 col-sm-0">
            <div class="row">
              <div class="form-group col-lg-4 text-center col-md-3 col-sm-0">
                <button
                  class="btn btn-primary"
                  id="back"
                  rippleEffect
                  (click)="back()">
                  <!-- <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i> -->
                  Back
                </button>
              </div>
              <div class="form-group col-lg-4 text-center col-md-6 col-sm-0">
                <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                <button
                  class="btn btn-primary"
                  id="register"
                  rippleEffect
                  (click)="formOnSubmit()">
                  Register
                </button>
              </div>
              <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
              <div class="form-group col-lg-4 text-center col-md-3 col-sm-0">
                <button
                  class="btn btn-primary"
                  id="reset"
                  rippleEffect
                  (click)="reset()">
                  <!-- <i data-feather="rotate-cw" class="align-middle mr-sm-25 mr-0"></i> -->
                  Clear
                </button>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-4 text-center"></div>
        </div>
        <!-- <div class="row">
          <div class="form-group col-12 text-center" style="padding:15px; font-size: medium;">
            <a [routerLink]="" (click)="back()" style="cursor: pointer;">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a [routerLink]="" (click)="reset()" style="cursor: pointer;">Clear</a>
          </div>

        </div> -->
      </form>
      <p style="color: red">* indicates mandatory fields</p>
    </div>
  </div>
</block-ui>
