.scroll-container {   
    overflow: auto;
    width: 100%;
    height:92%;
    background-color: black;
    line-height: 1.5rem; 
    font-size: 1.3rem
  }
  .textpre{
    white-space: pre-wrap;
  }

 