@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/datatables.component.scss';
.modal-xl{
height:1200px;
 }
 
 table {
    width: 100%;
    min-width: 800px;
  }
  td,
  th {
    border: 1px solid #ccc;
    padding: 10px;
  }
  .pagination {
    list-style: none;
  }
  .pagination li {
    display: inline;
  }