.home-grid{
    text-align: center;
    margin: 30px 0px;
}

ul.b {
    list-style-type: square;
  }

  img.mission-logo {
    margin: 10px 38px;
    padding: 40px;
}

.icons{
    background-color:#314f8b;
    //background-color:#7367f0;
    color: white;
    text-align: center;
    font-size: 20px;
}

img.social {
    padding: 0px 10px;
}

.main{
    margin-bottom: 30px;
}
.text{
    display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 117px;
    position: absolute;
    top: 50%;
    left: 6%;
    //transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-size:xx-large;
    font-weight: 100;
  }


@media (max-width: 750px){
    .text{
        font-size:x-large;
        margin-left: 0px;
    }  
}
.carousel-text{
    font-weight: 500; 
    font-size: 60px
}