<div class="content-wrapper container-xxxl p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">
    <!-- app e-commerce details start -->
    <section class="app-ecommerce-details">
      <div class="card">
        <!-- Product Details starts -->
        <div class="card-body">
          <div class="row my-2">
            <div
              class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-2 mb-md-0">
              <div class="d-flex align-items-center justify-content-center">
                <img
                  src="assets/images/vcf2.jpeg"
                  class="img-fluid product-img"
                  alt="product image" />
              </div>
            </div>
            <div class="col-12 col-md-7">
              <h2>IGV Visualizer</h2>
              <!-- <span class="card-text item-company"
                >By
                <a href="javascript:void(0)" class="company-name">
                  BIOINFOMATICS
                </a></span
              >
              <div class="ecommerce-details-price d-flex flex-wrap mt-1">
                <h3 class="item-price mr-1">ICE</h3>
                <div class="rating rating-sm pl-1 border-left mb-1"></div>
                <h3 class="item-price mr-1">CDAC PUNE</h3>
              </div> -->
              <!-- <p class="card-text">
                    Available - <span class="text-success">In stock</span>
                  </p> -->
              <h4 class="card-text">
                Visualisation is an important step for bioinformatics research
                to easing the observation of major finding, correlation and
                trends in huge dataset. The Integrative Genomics Viewer (IGV) is
                a interactive tool for the visual exploration of genomic data.
                It support many file types such as bam, vcf, bed etc
              </h4>

              <hr />
              <a
                routerLink="/vcfanalysis/igv"
                class="btn btn-primary btn-cart mr-0 mr-sm-1 mb-1 mb-sm-0"
                rippleEffect>
                <span class="add-to-cart">Analysis</span>
                <i data-feather="arrow-right" class="mr-25"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Product Details ends -->
      </div>
    </section>
    <!-- app e-commerce details end -->
  </div>
</div>
