<div class="content-wrapper container-xxxl p-0">
  <div class="content-body">
    <div class="row">
      <div class="col-sm-12">
        <app-content-header
          [contentHeader]="contentHeader"></app-content-header>
        <!-- <div class="card text-center shadow-none bg-transparent border-success">
          <div class="card-body">
            <h2 class="text-primary">Our Mission</h2>
            <p>
              The Bioinformatics Resources & Applications Facility (BRAF) at
              C-DAC, is an effort providing high-end supercomputing facility to
              the researchers working in the areas of Bioinformatics. Remote
              access to the users is provided for the applications that are
              available on BioChrome, a high performance cluster. BRAF is funded
              by the Department of Information Technology (MeitY), Ministry of
              Communications and Information Technology, Government of India.
            </p>
          </div>
        </div> -->
        <!-- <div class="col-sm-12">
        <div class="col-sm-3 card"><img src="/assets/images/carousel/joshisir.jpeg" ></div>
        <div class="col-sm-9 card" style="background-image: url('assets/images/carousel/CellsAndDNA.jpg');background-repeat: repeat-y; background-size: cover;opacity: 0.5;">
            <div class="card-text mb-2" >
                <strong>Dr. Rajendra Joshi</strong> received his Ph.D. in Biochemistry from National Chemical Laboratory, Pune, India in 1994. He has been associated with the area of Biotechnology & Bioinformatics for the about 28 years. He is presently serving as a Senior Director and Head of the Department, High Performance Computing-Medical and Bioinformatics Applications Group, at C-DAC, Pune.

                His major area of expertise, is in the use of high performance parallel containerrs for biological research. His unique strength is in the form of good knowledge of biology and parallel computing. His main research interests include, molecular dynamics simulations of nucleic acids & proteins, genome sequence analysis, metabolic pathways and development of Problem Solving Environments. He has around 81 publications in internationally peer reviewed journals.
            </div>
        </div>
      </div> -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card Collaborations">
              <h2
                style="text-align: center; margin-top: 20px"
                class="text-primary">
                PARTNERING INSTITUTION
              </h2>
              <div class="row">
              <div class="col-sm-2">
                <a
                  href="https://dbtindia.gov.in/"
                  title="MINISTRY OF SCIENCE &amp; TECHNOLOGY"
                  class="dbt-text"
                  target="_blank">
                  <img src="assets/images/carousel/dbtGov.png" style="    height: 94px;"/>
                  <h4>Department of Biotechnology <br>  <h5>MINISTRY OF SCIENCE &amp; TECHNOLOGY, Government of India</h5></h4>
                </a>
              </div>
              <div class="col-sm-2">
                <a href="https://www.cdac.in/" target="_blank"
                  ><img src="assets/images/carousel/cdac.jpeg"
                /></a>
              </div>
              <div class="col-sm-2">
                <a href="https://www.cdac.in/" target="_blank"
                ><img src="assets/images/carousel/IBDC_logo-01.png" style="    height: 200px;"
              /></a>
              </div>
              <div class="col-sm-2">     <a href="https://www.cdac.in/" target="_blank"
                ><img src="assets/images/ICE Flakes_1.png" style="margin-top: 31px;
                width: 295px;"
              /></a></div>
              <div class="col-sm-2">     <a href="https://www.cdac.in/" target="_blank"
                ><img src="assets/images/carousel/braf_logo1 (1).png" style=" height: 175px;
                width: 192px;"
              /></a></div>
              <div class="col-sm-2">     <a href="https://www.cdac.in/" target="_blank"
                ><img src="assets/images/carousel/RCB+UNESCOlogo.png" style="height: 154px;"
              /></a></div>
            </div>
            <div class="row">
   
            </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <app-home-page
            class="col-md-6 col-xl-4 card-height"
            *ngFor="let card of cardView; trackBy: trackByFn; let i = index"
            [card]="card"
            [index]="i"></app-home-page>
        </div> -->
      </div>
    </div>
  </div>
</div>
