@import "@core/scss/base/pages/app-ecommerce.scss";
@import "@core/scss/angular/libs/noui-slider.component.scss";

.folderimage {
  height: 20px;
  padding-bottom: 2px;
  padding-right: 7px;
}
mat-icon.pointer {
  position: absolute;
  padding-left: 11px;
}

.mat-drawer {
  top: 220px !important;
}

@media (max-width: 992px) {
  .content-body {
    margin-left: 0px !important;
  }
}

.ecommerce-application .list-view .ecommerce-card .card-body {
  padding: 0.5rem 0rem;
}

.ecommerce-application .list-view .ecommerce-card .item-img {
  justify-content: flex-start;
}

.ecommerce-application .list-view .ecommerce-card {
  grid-template-columns: 1fr 9fr 1fr;
}

.card {
  margin-bottom: 1rem;
}
