<div class="content-wrapper p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Project Form</h5>
              <!-- <p class="card-text">List of all the Projects</p> -->
              <a routerLink="/submit/niot-project-form" class="btn btn-primary"
                >Navigate to enter details for Project Form</a
              >
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sample Form</h5>
              <!-- <p class="card-text">List of all the Samples in Project.</p> -->
              <a routerLink="/submit/niot-sample-form" class="btn btn-primary"
                >Navigate to enter details for Sample Form</a
              >
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sequence Form</h5>
              <!-- <p class="card-text">List of all the Sequence in Samples.</p> -->
              <a routerLink="/submit/niot-sequence-form" class="btn btn-primary"
                >Navigate to enter details for Sequence Form</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
