<div class="border bg-white p-3 h-100">
  <div class="d-flex justify-content-between">
    <div *ngIf="selectedName==''" class="text-primary pb-3" style="font-size: clamp(22px,2vw,26px);">Container Status</div>
    <div *ngIf="selectedName!=''" class="text-primary pb-3" style="font-size: clamp(22px,2vw,26px);">Container Status of {{selectedName}}</div>
    <div *ngIf="selectedName!=''">
      <!-- <select name="" class="form-control" id="" [(ngModel)]="selectedValue">
        <option value="status">Container Status</option>
        <option value="type">Container Type</option>
      </select> -->
      <button class="btn btn-sm mb-2 btn-primary" (click)="selectedName=''">Go Back</button>
    </div>
  </div>
  <div class="mt-4">
    <!-- <app-stacked-bar-status *ngIf="selectedValue == 'status'"></app-stacked-bar-status>
    <app-stacked-bar-type  *ngIf="selectedValue == 'type'"></app-stacked-bar-type> -->
    <!-- <div class="d-flex justify-content-end" *ngIf="selectedName!=''">
      <button class="btn btn-sm mb-2 btn-primary" (click)="selectedName=''">Go Back</button>
    </div> -->


    <!-- Type 1 -->
    <!-- <app-stacked-bar-status (selectedName)="fetchSelectedName($event)" *ngIf="selectedName == ''"></app-stacked-bar-status>
    <app-user-pie-chart [selectedName]="selectedName" *ngIf="selectedName != ''"></app-user-pie-chart>  -->


    <!-- Type 2 -->
    <div class="d-flex">
      <div style="flex-grow: 1;">
        <app-stacked-bar-status (selectedName)="fetchSelectedName($event)"></app-stacked-bar-status>
      </div>
      <div style="flex-grow: 1;">
        <app-user-pie-chart  [selectedName]="selectedName" *ngIf="selectedName != ''"></app-user-pie-chart>
      </div>
    </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    <div>
      <app-stacked-line-chart></app-stacked-line-chart>
    </div>
  </div>
</div>
