<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header p-1">
      <!-- <h1 class="modal-title fs-5" id="exampleModalLabel"></h1> -->
      <div class="d-flex modal-title flex-wrap">
        <div class="avatar me-2">
          <img src={{user.avatar}} alt="Avatar" class="rounded-circle img-fluid" width="50" height="50">
        </div>
        <div class="" style="margin-left: 8px; margin-top: 2px;">
          <div class="mb-0 lead">{{user.fullName}}</div>
          <span class="text-secondary">{{user.role}}</span>
        </div>
      </div>
      <button type="button" class="btn btn-danger" style="padding : 5px !important;" data-bs-dismiss="modal" aria-label="Close">x</button>
    </div>
    <div class="modal-body">
      <ul class="timeline">
        <li class="timeline-item timeline-item-transparent ps-4" *ngFor="let userInfo of data; index as ind">
          <span class="timeline-point" [ngClass]="'timeline-point-' + colors[ind % colors.length]"></span>
          <div class="timeline-event">
            <div class="timeline-header d-flex justify-content-between">
              <div class="text-primary lead">{{userInfo.title}}</div>
              <small class="text-muted">{{userInfo.time}}</small>
            </div>
            <p class="mb-2">{{userInfo.description}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>