<div class="content-wrapper container-xxxl p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">
    <!-- app e-commerce details start -->
    <section class="app-ecommerce-details">
      <div class="card">
        <!-- Product Details starts -->
        <div class="card-body">
          <div class="row my-2">
            <div
              class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-2 mb-md-0">
              <div class="d-flex align-items-center justify-content-center">
                <img
                  src="assets/images/vcf.png"
                  class="img-fluid product-img"
                  alt="product image" />
              </div>
            </div>
            <div class="col-12 col-md-7">
              <h2>Variant File Upload</h2>
              <!-- <span class="card-text item-company"
                >By
                <a href="javascript:void(0)" class="company-name">
                  BIOINFOMATICS
                </a></span
              >
              <div class="ecommerce-details-price d-flex flex-wrap mt-1">
                <h3 class="item-price mr-1">ICE</h3>
                <div class="rating rating-sm pl-1 border-left mb-1"></div>
                <h3 class="item-price mr-1">CDAC PUNE</h3>
              </div> -->
              <!-- <p class="card-text">
                Available - <span class="text-success">In stock</span>
              </p> -->
              <h4 class="card-text">
                The Variant Call Format (VCF) specifies the format of a text
                file used in bioinformatics for storing variation data. It is
                used by large scale variant mapping projects such as The
                International Genome Sample Resource (IGSR). It is also the
                standard output of variant calling softwares such as GATK,
                BCFTOOLS, VArscan FREEbays etc. VCF is a preferred format
                because it is unambiguous, scalable and flexible, allowing extra
                information to be added to the info field. Many millions of
                variants for population can be stored in a single VCF file.
                Please Upload your vcf file for Storage / Analyse / Query /
                Visualise
              </h4>

              <hr />
              <a
                routerLink="/vcfanalysis/select"
                class="btn btn-primary btn-cart mr-0 mr-sm-1 mb-1 mb-sm-0"
                rippleEffect>
                <span class="add-to-cart">Upload</span>
                <i data-feather="arrow-right" class="mr-25"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Product Details ends -->
      </div>
    </section>
    <!-- app e-commerce details end -->
  </div>
</div>
