<div class="content-wrapper container-xxxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- <div class="row">
      <div class="col-sm-12">
        <img
          src="assets/images/carousel/ContactUs.jpg"
          alt="image"
          width="100%"
          style="height: 400px"
        />
        
      </div>
    </div> -->
    <section class="faq-contact" id="contactus">
      <div class="row">
        <div class="col-sm-12">
          <div class="card text-center heightstatus">
            <div class="card-body">
              <app-google-maps></app-google-maps>
              <!-- <div class="row">
                <div class="col-sm-12">
                  <div id="map"></div>
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="card text-center">
            <div class="row">
              <div class="col-sm-12">
                <div class="card-body">
                  <div class="centered">
                    <h1><b>Our Office</b></h1>
                    <hr
                      style="
                        width: 40%;
                        height: 2px;
                        border-width: 0;
                        color: gray;
                        background-color: gray;
                      " />
                    <h3>
                      Centre for Development of Advanced Computing<br />
                      C-DAC Innovation Park 34, B/1, Panchawati Rd,
                      Panchawati,Pashan,<br />
                      Pune, Maharashtra 411008
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card-body callus">
                  <div class="avatar avatar-tag bg-light-primary mb-2 mx-auto">
                    <img
                      src="assets/images/carousel/call.png"
                      alt="image"
                      width="89px"
                      height="89px" />
                  </div>
                  <div class="mx-auto centered">
                    <h1 style="color: white"><b>Contact us</b></h1>
                    <p>
                      For support or any questions 
                    </p>
                    <b>
                      <a
                        style="color: white !important"
                        href="mailto:braf-help@cdac.in"
                        > braf-help@cdac.in</a
                      ></b
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card-body callus">
                  <div class="avatar avatar-tag bg-light-primary mb-2 mx-auto">
                    <img
                      src="assets/images/carousel/mail.jpg"
                      alt="image"
                      width="89px"
                      height="89px" />
                  </div>

                  <div class="mx-auto centered">
                    <h1 style="color: white"><b>Ask a question</b></h1>
                    <p>
                      Sometimes you need a little support or a help. Don't
                      worry...We're here for you.
                    </p>
                    <b>
                      <a href="mailto:ice@cdac.in" style="color: white">
                        ice@cdac.in</a
                      ></b
                    >
                    or
                    <b>
                      <a href="mailto:braf-help@cdac.in" style="color: white">
                        braf-help@cdac.in</a
                      >
                    </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
