<block-ui>
  <div class="content-wrapper container-xxxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <section class="curation-dashboard">
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-12">
              <div
                class="d-flex justify-content-between align-items-center m-1">
                <div class="d-flex align-items-center" class="card-header">
                  <label class="d-flex align-items-center">
                    Show
                    <select
                      class="form-control mx-25"
                      [(ngModel)]="selectedOption">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 col-12 d-flex justify-content-start justify-content-md-end align-items-center offset-lg-2">
              <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">
                <div class="col-10 col-md-6 pr-0">
                  <label class="d-flex align-items-center mb-0 ml-1 ml-md-0"
                    ><input
                      [(ngModel)]="searchValue"
                      name="searchValue"
                      type="search"
                      class="form-control"
                      placeholder="Search..."
                      (keyup)="filterUpdate($event)"
                      (search)="filterUpdate($event)"
                  /></label>
                </div>
                <div class="col-10 col-md-6 mt-2 ml-1 ml-md-0 mt-md-0">
                  <fieldset class="form-group mb-0">
                    <ng-select
                      [items]="selectStatus"
                      [(ngModel)]="selectedStatus"
                      bindLabel="name"
                      placeholder="Select Status"
                      (change)="filterByStatus($event)"></ng-select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <ngx-datatable
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="selectedOption"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true">
            <ngx-datatable-column
              name="Accession Number"
              prop="tempAccessionNumber"
              [width]="25">
              <ng-template
                let-row="row"
                let-username="value"
                ngx-datatable-cell-template>
                <a
                  routerLink="/submit/wgs-curation-view/{{ row.curationNGSId }}"
                  class="font-weight-bold"
                  >{{ row.tempAccessionNumber }}</a
                >
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              name="Sequence ID"
              prop="sequenceId"
              [width]="10">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Sequence Author"
              prop="sequenceAuthor"
              [width]="25">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Sample Name"
              prop="sampleName"
              [width]="25">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Project Name"
              prop="projectName"
              [width]="25">
            </ngx-datatable-column>
            <!-- <ngx-datatable-column
              name="Sequence Created At"
              prop="createdAt"
              [width]="25">
              <ng-template
                let-row="row"
                let-username="value"
                ngx-datatable-cell-template
                >{{ row.createdAt | date }}</ng-template
              >
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Sequence Updated At"
              prop="updatedAt"
              [width]="25">
              <ng-template
                let-row="row"
                let-username="value"
                ngx-datatable-cell-template
                >{{ row.updatedAt | date }}</ng-template
              >
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Status" prop="status" [width]="50">
              <ng-template
                let-row="row"
                let-balance="value"
                ngx-datatable-cell-template>
                <div
                  class="badge badge-pill"
                  [ngClass]="{
                    'badge-success': row.status == 'OPENED',
                    'badge-danger': row.status == 'REJECTED',
                    'badge-warning': row.status == 'PENDING',
                    'badge-light-primary': row.status == ''
                  }"
                  style="font-size: 1.1rem; font-weight: 500; padding: 8px">
                  {{ row.status }}
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </section>
    </div>
  </div>
</block-ui>
