<div class="content-wrapper p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- <div class="row">
      <div class="col-4">
        <a routerLink="/file/file-uploading"
          ><div class="card text-white class-row1">
            <div class="card-body">
              <h2 class="card-title font-weight-bold text-white heading">
                File Upload
              </h2>
              
            </div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a routerLink="/file/drive">
          <div class="card text-white class-row1">
            <div class="card-body">
              <h2 class="card-title font-weight-bold text-white heading">
                File Drive
              </h2>
              
            </div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a routerLink="/shared/shareddrive"
          ><div class="card text-white class-row1">
            <div class="card-body">
              <h2 class="card-title font-weight-bold text-white heading">
                Shared with me
              </h2>
              
            </div>
          </div>
        </a>
      </div>

      <div class="col-4">
        <a routerLink="/container/jobs"
          ><div class="card text-white class-row2">
            <div class="card-body">
              <h2 class="card-title font-weight-bold text-white heading">
                Container
              </h2>
              
            </div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a routerLink="/workflow/list">
          <div class="card text-white class-row2">
            <div class="card-body">
              <h2 class="card-title font-weight-bold text-white heading">
                Workflow
              </h2>
              
            </div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a routerLink="/vcfanalysis/mainpage"
          ><div class="card text-white class-row2">
            <div class="card-body">
              <h2 class="card-title font-weight-bold text-white heading">
                VCF Analysis
              </h2>
            </div>
          </div>
        </a>
      </div>
    </div> -->
    <section
      class="section section-sm section-last bg-gray-100 section-style-2 text-md-left">
      <h1 class="pillars text-white">Services</h1>
    </section>
    <div class="row">
      <div class="col-6">
        <a routerLink="/container/jobs">
          <div class="card text-center pad">
            <img
              class="card-img-services"
              src="assets/images/compute.png"
              alt="publish" />
            <div class="card-body">
              <h1 class="card-title" style="color: red">Compute</h1>
              <hr
                style="
                  width: 40%;
                  height: 2px;
                  color: red;
                  background-color: red;
                " />
              <p class="card-text">
                Docker is a container-based application packager that allows for
                multiple containers on a single host. Users can download Docker
                images from the Hub and use the Ice compute service for
                on-demand access.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6">
        <a routerLink="/file/drive">
          <div class="card text-center pad">
            <img
              class="card-img-services"
              src="assets/images/storage.png"
              alt="publish" />
            <div class="card-body">
              <h1 class="card-title" style="color: green">Storage</h1>
              <hr
                style="
                  width: 40%;
                  height: 2px;
                  color: green;
                  background-color: green;
                " />
              <p class="card-text">
                Publishing a sequence typically involves the systematic release
                or dissemination of content, often in a specific order or
                arrangement. This could apply to various contexts, such as a
                series of articles, chapters, videos, or any other creative
                works.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6">
        <a routerLink="/vcfanalysis/mainpage">
          <div class="card text-center pad">
            <img
              class="card-img-services"
              src="assets/images/vcf.png"
              alt="publish" />
            <div class="card-body">
              <h1 class="card-title" style="color: darkblue">VCF</h1>
              <hr
                style="
                  width: 40%;
                  height: 2px;
                  color: darkblue;
                  background-color: darkblue;
                " />
              <p class="card-text">
                The tool allows users to identify potential variants (SNPs) that
                can differentiate between populations and diseases, aiding in
                array design, genotype imputation, and variant cataloging. It
                allows users to partition samples based on traits, narrowing
                down potential SNPs for further research.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6">
        <a routerLink="/shared/shareddrive">
          <div class="card text-center pad">
            <img
              class="card-img-services"
              src="assets/images/sharing.webp"
              alt="publish" />
            <div class="card-body">
              <h1 class="card-title" style="color: orangered">
                Collaborations & Sharing
              </h1>
              <hr
                style="
                  width: 40%;
                  height: 2px;
                  color: orangered;
                  background-color: orangered;
                " />
              <p class="card-text">
                The ICE solution offers advanced features like web links,
                reliable transfer, endpoint encryption, and version control,
                making it user-friendly and pleasant to use over the internet,
                ensuring long file transfers.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
