<div style="border-radius: 10px;" class="welcome-card bg-primary text-white">
  <!-- Welcome -->
  <div class="">
    <div class="text-center pt-2">
      <!-- <img width="80" height="80" class="img-fluid" src="https://img.icons8.com/external-ddara-lineal-ddara/128/FFFFFF/external-man-traditional-costume-greeting-sawasdee-Thailand-welcome-gesture-user-avatar-ddara-lineal-ddara.png" alt="external-man-traditional-costume-greeting-sawasdee-Thailand-welcome-gesture-user-avatar-ddara-lineal-ddara" /> -->
      <!-- <img width="90" height="90" class="img-fluid" src="https://img.icons8.com/external-ddara-fill-ddara/128/FFFFFF/external-hospitality-professions-ddara-fill-ddara.png" alt="external-hospitality-professions-ddara-fill-ddara"/> -->
      <img width="90" height="90" src="https://img.icons8.com/arcade/128/handshake-heart.png" alt="handshake-heart"/>
    </div>

    <div style="font-size: clamp(22px,2vw,28px);" class="pt-2 text-center text-white">Welcome Admin !</div>
    <div class="d-flex justify-content-center">
      <!-- <div  class="lead w-75 pt-1 text-center mb-3">This is the dummy text for the welcome card of the admin dashboard</div> -->
    </div>
  </div>
</div>